/* Fonts */

// Import Google Web Fonts
//@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,300italic,400italic,700italic,700,600italic,600,900);
//@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,400italic,700,700italic);


/*@font-face {
  font-family: 'proximareg';
  src:url('../fonts/ProximaNova-Reg.eot'),
  url('../fonts/ProximaNova-Reg.woff') format('woff'),
  url('../fonts/ProximaNova-Reg.ttf') format('truetype'),
  url('../fonts/ProximaNova-Reg.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}*/

// Font stacks.
$georgia:         Georgia, "Times New Roman", "DejaVu Serif", serif;
$helvetica:       Helvetica, Arial, "Nimbus Sans L", sans-serif;
$courier:         "Courier New", "DejaVu Sans Mono", monospace, sans-serif;
$ProximaReg:      "proximareg", sans-serif;
$ProximaSemiBold: "proximasemibold", sans-serif;
$Kepler:          "kepler-std",serif;

// fonts
$serif: 'kepler-std', $georgia;
$sans: 'proxima-nova', $helvetica;
$display: 'kepler-std', $helvetica;

// Create some variables for the font stacks we want to use on this site.
$base-font-family: $sans; // The font family set on the html element.
$base-heading-font: $serif;
$font-monospace:   $courier;