// zero out first and last margin on content
.field-item,
.block-content {
  @extend %trim;
}

.field {
  margin: 0.5em 0;
  .field-label {
    @extend label;
    margin-bottom: 0;
  }
}

#page-control-container {
  position: relative;
  .control-toggle {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    span  {
      cursor: pointer;
    }
  }
}

#admin-menu, #admin-menu .dropdown {
  z-index: 10001;
}

@import "messages";
@import "tabs";
@import "unpublished";